<%= render 'home/zman_partials/preloader'%>
<%= render 'home/zman_partials/header'%>
<div id="sticky_header"></div>
<%= render 'home/zman_partials/main_content'%>
<%#= render 'home/zman_partials/footer'%>