<footer id="footer" class="footer section_scroll">
  <div class="footer-widgets-area ptb-80">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="footer_description text-center">
            <a class="footer_logo site_logo" href="index.html"><span>Z</span>man</a>
            <p>We love who we are and we are very proud to be Curabitur sit amet magnaquam. Praesent in libero vel turpis</p>
            <ul class="footer_social_share">
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            <p>&copy; 2018 Copyright <a href="#">Theme_Bangla</a> All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>