<header id="header" class="site_header">
  <div class="site_navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navigation_area">
            <%= link_to "<span>V</span>ishal".html_safe, "javascript:void(0);", class: 'navbar-brand site_logo' %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse mainmenu_area" id="navbarNav">
              <ul class="navbar-nav mainmenu">
                <li class="nav-item"> <a class="nav-link smoot_scroll dots_effect active" href="#home" data-scroll-nav="0">Home <span class="dot_effect dot_hover"></span></a> </li>
                <li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#about" data-scroll-nav="1">About <span class="dot_effect dot_hover"></span></a> </li>
                <li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#services" data-scroll-nav="2">services <span class="dot_effect dot_hover"></span></a> </li>
                <li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#work" data-scroll-nav="3">Work <span class="dot_effect dot_hover"></span></a> </li>
                <li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#client" data-scroll-nav="4">client <span class="dot_effect dot_hover"></span></a> </li>
                <li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#contact" data-scroll-nav="6">contact <span class="dot_effect dot_hover"></span></a> </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>